.brand-logo{
  width: 343px; 
  height: 112px;
  position:relative;
  left: 36%
}
.a{
  position: relative;
  padding-left: 21%;
}
#row1, #row2, #row3, #row4, #row5, #row6{
  
}

li{
  display: inline-block;
  list-style-type: none;
  float: left;
}
ul{
  display: inline-block;
  float: left;
  list-style-type: none;
  position: center;
}
.brand-logo{
  position: center;
}
#brand-logo{
 align-content: center;
}
.container-fluid{
  color: transparent;
}

}
.b{
  position: absolute;
  padding-left: 21%;
}
#rectangle {
	width: 100%;
  height: 80%;
  background-color: #f16e3a;
  background-position:  bottom 500px;
}